body{
  background:#222222 url('../images1/bg-checker.png');

}

menu.topmenu{
	width:200px;
	height:500px;
	margin-left:250px;
	background-color:black;
	position:relative;
	float:left;
}

menu.topmenu div.logo{
	margin-left:10px;
}

menu.topmenu ul{
	padding-left:25px;
	padding-right:25px;
}

menu.topmenu li{
	padding:5px 0 10px 0;
	border-bottom:1px solid #999999;
	position:relative;
}

menu.topmenu li:first-child{
	padding-top:17px;
	border-top:1px solid #999999;
}

menu.topmenu li li{
	float:none;
	background:black;
	border:none;
	border-top:1px dashed white;
	opacity:0.85;		
}


menu.topmenu li li:last-child{
	padding-bottom:20px;
	padding-top:10px;
}
	
menu.topmenu li menu {
		min-width:100%;
		position:absolute;
		left:175px;
		top:-20px;
		display:none;
	}
	
menu.topmenu li:hover menu{
	display:block;
}

menu.topmenu li a{
	color:#CCCCCC;
	padding:10px 100px 0 20px;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	white-space:nowrap;
	opacity:0.45;
	
}

menu.topmenu li a.opasity{
	opacity:0.95;
}

menu.topmenu li a:hover{
	opacity:0.99;
}

menu.topmenu .triangle{
	position : absolute;
	left:0;
	top:100%;
	border   : solid transparent;
	border-width:80px 100px 0 100px;
	border-top-color:black;
	z-index:-1;
}

div.arrow{
	width:25px;
	height:25px;
	border-radius:40px;
	border:3px solid white;
	margin-left:85px;
	margin-top:30px;
	display:block;
}

div.pics{
	width:620px;
	min-height:1500px;
	background-color:black;
	margin-left:480px;
	padding:20px;
	padding-top:30px;

}

div.pics p{
	color:white;
	border-width:bold;
	font-size:35px;
	font-family:Eras Medium ITC;
}

form input.form{
	display: block;
	width: 220px;
	padding: 3px 0 3px 2px;
	margin: 5px 0 5px;
	background-color:#333333;
	border: 1px solid #999;

}