.backimg{
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index:-2;
		background-image:url('../images1/backimg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
}

menu.topmenu{
	width:200px;
	height:500px;
	margin-left:100px;
	background-color:black;
	position:relative;
	opacity:0.85;
	float:left;
	
	-webkit-transition:top 800ms;
}

menu.topmenu div.logo{
	margin-left:10px;
}

menu.topmenu ul{
	padding-left:25px;
	padding-right:25px;
}

menu.topmenu li{
	padding:5px 0 10px 0;
	border-bottom:1px solid #999999;
	position:relative;
}

menu.topmenu li:first-child{
	padding-top:17px;
	border-top:1px solid #999999;
}

menu.topmenu li li{
	float:none;
	background:black;
	border:none;
	border-top:1px dashed white;
	
}

menu.topmenu li li:last-child{
	padding-bottom:20px;
	padding-top:10px;
}
	
menu.topmenu li menu {
	min-width:100%;
	position:absolute;
	left:175px;
	top:-20px;
	display:none;
	}
	
menu.topmenu li:hover menu{
	display:block;
}

menu.topmenu li a{
	color:#CCCCCC;
	padding:10px 100px 0 20px;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	white-space:nowrap;
	opacity:0.45;
	
}

menu.topmenu li a.opasity{
	opacity:0.99;
}

menu.topmenu li a:hover{
	opacity:0.99;
}


menu.topmenu .triangle{
	position: absolute;
	lef: 0;
	top: 100%;
	border:solid transparent;
	border-width:80px 100px 0 100px;
	border-top-color:black;
	z-index:-1;
}

div.arrow{
	width:25px;
	height:25px;
	border-radius:40px;
	border:3px solid white;
	margin-left:85px;
	margin-top:30px;

}


div.arrow div.triangle-up{
	margin-top:5px;
	border: transparent solid;
	border-width:0 12px 9px 12px;
	border-bottom-color:white;
	cursor:pointer;
}

div.arrow div.triangle-down{
	margin-top:8px;
	border:solid transparent;
	border-width:9px 12px 0 12px;
	border-top-color:white;
	cursor:pointer;
}

#anihelper.triangle-down menu.topmenu {
	top:0px;
}

#anihelper.triangle-down div.triangle-down{
	display: none;
}

#anihelper.triangle-up menu.topmenu {
	top:-490px;
}

#anihelper.triangle-up div.triangle-up{
	display: none;
}
/*----------gallery/flooring & wall paper----------*/

body.noise{
	background:#222222 url('../images1/bg-checker.png');
}

div.pics{
	width:620px;
	min-height:1500px;
	background-color:black;
	margin-left:330px;
	padding:20px;
	padding-top:30px;

}

div.pics p.p1{
	color:white;
	border-width:bold;
	font-size:35px;
	font-family:Eras Medium ITC;
}

div.note{
	width:550px;
	min-height:30px;
	border:1px solid white;
	margin-top:50px;
}

div.note p{
	font-size:20px;
	color:white;
	text-align:center;
	padding-top:5px;
}
	
			
div.gallery img{
	margin:5px;
	margin-top:40px;
	
	
}

div.gallery a:hover{
	opacity:0.60;
	-webkit-transition: all 600ms;
}

/*----------------contact us page----------------*/
div.pics h1{
	font-size:35px;
	color:white;
	border-width:bold;
	font-family:Eras Medium ITC;
}

form input.form{
	display:block;
	background-color:#1b1b1b;
	border-radius:2px;
	border: 1px solid #666666;
	opacity:0.75;
	color:white;

}
div.address{
	
	min-height:500px;
	color:#FFFFFF;
}
article img{
	width:25px;
	height:25px;
}
.map{
	margin-top:30px;
	border:1px solid #CCCCCC;
	
/*----------------Footer--------------*/	
}
div.footer{
	padding:10px;
	margin-top:70px;
	width:600px;
	min-height:200px;
	background-color:black;
	

}

div.footer ul h1{
	color:white;
	font-size:18px;
	margin-top:30px;
}

div.footer ul li a{
	display:list-item;
	color:white;
	font-size:13px;
	text-decoration:none;
	text-transform:capitalize;
	border-bottom:1px solid #999;
	font-family:Tahoma, Geneva, sans-serif;
	padding-bottom:5px;
}

div.footer ul li a:hover{
	background-color:#121212;
	-webkit-transition: all 300ms;
	opacity:0.70;

}
			
