.backimg{
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index:-1;
		background-image:url('../images/backimg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
}

menu.topmenu{
	width:200px;
	height:500px;
	margin-left:100px;
	background-color:black;
	position:relative;
	opacity:0.85;
}

menu.topmenu div.logo{
	margin-left:10px;
}

menu.topmenu ul{
	padding-left:25px;
	padding-right:25px;
}

menu.topmenu li{
	padding:5px 0 10px 0;
	border-bottom:1px solid #999999;
	position:relative;
}

menu.topmenu li:first-child{
	padding-top:17px;
	border-top:1px solid #999999;
}

menu.topmenu li li{
	float:none;
	background:black;
	border:none;
	border-top:1px dashed white;
	opacity:0.85;		
}

menu.topmenu li li:last-child{
	padding-bottom:20px;
	padding-top:10px;
}
	
menu.topmenu li menu {
		min-width:100%;
		position:absolute;
		left:175px;
		top:-20px;
		display:none;
	}
	
menu.topmenu li:hover menu{
	display:block;
}

menu.topmenu li a{
	color:#CCCCCC;
	padding:10px 100px 0 20px;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	white-space:nowrap;
	
}

menu.topmenu .triangle{
		position : absolute;
		left:0;
		top:100%;
		border   : solid transparent;
		border-width:80px 100px 0 100px;
		border-top-color:black;
		z-index:-1;
}

div.arrow{
	width:25px;
	height:25px;
	border-radius:40px;
	border:3px solid white;
	margin-left:85px;
	margin-top:30px;
	display:block;
}

			
