.backimg{
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index:-1;
		background-image:url('images/backimg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
}

nav.topmenu{
	width:200px;
	height:500px;
	margin-left:100px;
	background-color:black;
	opacity:40%;
	position:relative;
	opacity:0.85;
}

nav.topmenu div.logo{
	margin-left:10px;
}

nav.topmenu li{
	padding-top:10px;

}

nav.topmenu li a{
	color:#CCCCCC;
	padding:30px;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	white-space:nowrap;
}

nav.topmenu .triangle{
		position : absolute;
		left:0;
		top:100%;
		border   : solid transparent;
		border-width:80px 100px 0 100px;
		border-top-color:black;
}
				
